<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="th.co.mwa.cis.business.persistence.DepartmentMapper">

	<cache />

	<select id="getDepartmentList" resultType="Department">
		SELECT
			DEPARTMENTS.DEPARTMENT_ID AS departmentId,
			DEPARTMENTS.DEPARTMENT_NAME AS departmentName,
			DEPARTMENTS.LEVEL AS level
		FROM 
			DEPARTMENTS
	</select>

	<select id="getDepartmentById" parameterType="string" resultType="Department">
		SELECT
			DEPARTMENTS.DEPARTMENT_ID AS departmentId,
			DEPARTMENTS.DEPARTMENT_NAME AS departmentName,
			DEPARTMENTS.LEVEL AS level
		FROM 
			DEPARTMENTS
		WHERE
			DEPARTMENTS.DEPARTMENT_ID = #{departmentId}		
	</select>

	<select id="getDepartmentByName" parameterType="string" resultType="Department">
		SELECT
			DEPARTMENTS.DEPARTMENT_ID AS departmentId,
			DEPARTMENTS.DEPARTMENT_NAME AS departmentName,
			DEPARTMENTS.LEVEL AS level
		FROM 
			DEPARTMENTS
		WHERE
			DEPARTMENTS.DEPARTMENT_NAME LIKE #{departmentName}
	</select>

	<select id="getDepartmentByLevel" parameterType="int" resultType="Department">
		SELECT
			DEPARTMENTS.DEPARTMENT_ID AS departmentId,
			DEPARTMENTS.DEPARTMENT_NAME AS departmentName,
			DEPARTMENTS.LEVEL AS level
		FROM 
			DEPARTMENTS
		WHERE
			DEPARTMENTS.LEVEL = #{level}
	</select>

</mapper>